doctype html
html(lang="en")
    head
        include components/mixins.pug
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title Document
    body 
        header.header
            .wrapper
                .main_navigation
                    a(class="logo", href="/")
                        img(src="../img/logo.png", alt="")
                        b MISOCIAL
                    .burger_menu#burger
                        span.top
                        span.middle
                        span.bottom
                    nav.menu.top_menu#topMenu
                        ul.list
                            +menu(menu)
                        .main_menu_button
                            a(href="#") get started
                .pricing_table
                    p
                        span SOCIAL MARKETING & ANALYTICS
                    //- .overhead SOCIAL MARKETING & ANALYTICS
                    h1 Pricing Table
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                    //- .subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                .button_next
                    a(href="#main")
        main#main
            .wrapper
                .subscription
                    p
                        span MISOCIAL
                    //- .overhead.dark MISOCIAL
                    h2 Select a Plan
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                    //- .subtitle.subtitle_dark Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                .offers
                    +figures (figures.low_plan)
                    +figures (figures.medium_plan)
                    +figures (figures.high_plan)
            .social_marketing
                .wrapper                   
                    p
                        span SOCAL MARKETING & ANALYTICS
                    h3 Take control of your data
                    .social_marketing_buttons
                        .buy_button
                            a(href="#") get started
                        .buy_button
                            a(href="#") explore features
        footer.footer
            .wrapper
                .footer_navigation
                    a(class="logo", href="/")
                        img(src="../img/logo.png", alt="")
                        b MISOCIAL
                    .footer_menu
                        nav.menu
                            ul.list
                                +menu(menu)
                        .buy_button.footer_menu_button
                            a(href="#") get started
                hr
                .footer_block
                    p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
                    .social_networks
                        a(href="#")
                            svg.svg
                                use(xlink:href="#fb")
                        a(href="#")
                            svg.svg
                                use(xlink:href="#tw")
                        a(href="#")
                            svg.svg
                                use(xlink:href="#g+")
                        a(href="#")
                            svg.svg
                                use(xlink:href="#in")
        include components/svg/sprite.svg
        script(src="js/scripts.js")


                